# ==============================
# MedQuAD Medical Chatbot
# Python Dependencies
# ==============================

# Data Processing
pandas
numpy

# Data Visualization / EDA
matplotlib
seaborn

# Machine Learning
scikit-learn

# Jupyter
jupyter
ipykernel